.notification {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.notification.success {
    border-color: green;
    color: green;
}

.notification.error {
    border-color: lightcoral;
    color: lightcoral;
}